/**
 * Body styles
 */
body {
	margin: 0;
}

/**
 * Header styles
 */
header {
 font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
 margin: 2rem 0;
 text-align: center;
}

header a {
	color: steelblue;
}

/**
 * Tile styles
 */
.tiles {
	display: flex;
	flex-wrap: wrap;
}

.tile {
	align-items: center;
	cursor: pointer;
	display: flex;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	justify-content: center;
}

.tile.full {
	font-size: 4rem;
	height: 100vh !important; /* Overwrite vue inline styles */
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw !important; /* Overwrite vue inline styles */
}